on:
  push:
    branches:
      - master

name: 'Build & Deploy'

env:
  AZURE_FUNCTIONAPP_NAME: 'fractals'   
  PACKAGE_PATH:          './functions'
  NODE_VERSION:          '12.x'

jobs:
  buildDeployJob:
    name: 'Build & Deploy Job'
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: 'Use Node.js ${{ env.NODE_VERSION }}'
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    
    - name: 'Run npm install'
      run: npm install
      working-directory: ${{ env.PACKAGE_PATH }}
    
    - name: 'Deploy to Azure Function App'
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBPROFILE }}
        package: ${{ env.PACKAGE_PATH }}

