on:
  push:
    branches:
      - master

env:
  AZURE_WEBAPP_NAME: fractals    
  AZURE_WEBAPP_PACKAGE_PATH: 'functions'
  NODE_VERSION: '12.x'

jobs:
  build-and-deploy:
    name: 'Build & Deploy'
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: 'Use Node.js ${{ env.NODE_VERSION }}'
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    
    - name: 'Run npm install'
      run: npm install
    
    - name: 'Deploy to Azure Function App'
      uses: azure/webapps-deploy@v1
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
